<div class="table-books">
  <div class="header">Books</div>

  <table cellspacing="0">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Rating</th>
      <th width="530">Description</th>
    </tr>
 
    <tr>
      <td><img src="" alt="" /></td>
      <td>{{ books[0] }}</td>
      <td>{{ authors[0] }}</td>
      <td>{{ genres[0] }}</td>
      <td>{{ rating[0] }}</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
    </tr>

    <tr>
      <td><img src="" alt="" /></td>
      <td>{{ books[1] }}</td>
      <td>{{ authors[1] }}</td>
      <td>{{ genres[1] }}</td>
      <td>{{ rating[1] }}</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
    </tr>

    <tr>
      <td><img src="" alt="" /></td>
      <td>{{ books[2] }}</td>
      <td>{{ authors[2] }}</td>
      <td>{{ genres[2] }}</td>
      <td>{{ rating[2] }}</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
    </tr>

    <tr>
      <td><img src="" alt="" /></td>
      <td>{{ books[3] }}</td>
      <td>{{ authors[3] }}</td>
      <td>{{ genres[3] }}</td>
      <td>{{ rating[3] }}</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
    </tr>
  </table>
</div>
