<div mat-dialog-title>Add Book</div>
<div mat-dialog-content>
  <form class="content-form"  [formGroup]="formGroup">
   <app-typeahead label="Title" [ctrl]="getCtrl('title')"></app-typeahead>
   <app-typeahead label="Author" [ctrl]="getCtrl('author')"></app-typeahead>
   <app-input label="Description (optional)" [ctrl]="getCtrl('description')"></app-input>
  </form>
</div>

<div mat-dialog-actions class="actions">
  <button mat-stroked-button (click)="close()">Cancel</button>
  <button mat-stroked-button (click)="submit()">Save</button>
</div>
