.profile-menu,
.profile,
.browse-category,
.browse {
  display: flex;
  align-items: center;
}

.book-store {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  background-color: var(--page-bg-color);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--body-color-light);
  justify-content: space-between;
  flex-shrink: 0;
}

.browse-category {
  border-right: 1px solid var(--border-color);
  white-space: nowrap;
}

.header-title {
  font-size: 16px;
  font-weight: 400;
  margin-right: 120px;
}
.header-title span {
  font-weight: 500;
  color: var(--body-color);
}

.user-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-profile {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.user-profile:before {
  content: "";
  position: absolute;
  background-color: #f86d72;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--theme-bg-color);
  right: 12px;
  top: -3px;
  border: 2px solid #fff;
}

.profile {
  flex-shrink: 0;
}
.profile-menu {
  border-left: 1px solid var(--border-color);
  cursor: pointer;
}
.profile svg {
  width: 16px;
  margin: 0 8px 0 15px;
  flex-shrink: 0;
}
.genrebtn {
  padding: 14px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
  color: var(--body-color-light);
}

.genredrop {
  position: relative;
  display: inline-block;
}

.genre-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.genre-list a {
  background-color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.genre-list a:hover {
  background-color: #f1f1f1;
}

.genredrop:hover .genre-list {
  display: block;
}

.genredrop:hover .genrebtn {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
