<div class="header">
  <div class="header-title">read<span>books</span></div>
  <div class="header-content">
    <app-search></app-search>

    <div class="notification">
      <mat-icon
        [matBadge]="notifications"
        matBadgeColor="warn"
        [matBadgeHidden]="!notifications"
        matBadgeSize="small"
        class="bell-icon"
        >notifications_none</mat-icon
      >
    </div>

    <div class="user-menu-container">
      <button mat-button [matMenuTriggerFor]="menu" class="user-menu"></button>
    </div>

    <mat-menu #menu="matMenu" class="user-menu">
      <div class="listMenu">
        <app-avatar></app-avatar>
        <button mat-menu-item class="userButton">profile</button>
      </div>
      <button class="listMenu" (click)="choosePoint()">
        <mat-icon class="listIcon">compare_arrows</mat-icon>
        <span mat-menu-item class="userButton">Add book</span>
      </button>
      <button class="listMenu" (click)="choosePoint()">
        <mat-icon class="listIcon">star</mat-icon>
        <button mat-menu-item class="userButton">requests</button>
      </button>
      <button class="listMenu" (click)="choosePoint()">
        <mat-icon class="listIcon" >logout</mat-icon>
        <button mat-menu-item class="userButton">logout</button>
      </button>
      
    </mat-menu>
  </div>
</div>
