<div class="header">
  <div class="header-title">read<span>books</span></div>
  <div class="header-content">
    <app-search></app-search>

    <div class="notification">
      <mat-icon
        [matBadge]="notifications"
        matBadgeColor="warn"
        [matBadgeHidden]="!notifications"
        matBadgeSize="small"
        class="bell-icon"
        >notifications_none</mat-icon
      >
    </div>

    <div class="user-menu-container">
      <button mat-button [matMenuTriggerFor]="menu" class="user-menu"></button>
    </div>

    <mat-menu #menu="matMenu" backdropClass="customize">
      <button mat-menu-item class="userButton">Add book</button>
      <button mat-menu-item class="userButton">requests</button>
      <div class="profileMenu">
        <button mat-button class="user-avatar"></button>
        <button mat-menu-item class="userButton">profile</button>
      </div>

      <button mat-menu-item class="userButton">logout</button>
    </mat-menu>
  </div>
</div>
