<div class="header">
  <div class="header-title">read<span>books</span></div>
  <div class="header-content">
    <app-search></app-search>

    <div class="notification">
      <mat-icon
        [matBadge]="notifications"
        matBadgeColor="warn"
        [matBadgeHidden]="!notifications"
        matBadgeSize="small"
        class="bell-icon"
        click="showNotifications()"
        [matMenuTriggerFor]="menuNotification"
        >notifications_none</mat-icon
      >
    </div>
    <mat-menu #menuNotification="matMenu" class="note-menu">
      <div class="noteMenuControl">
        <button class="markAsReadButton" (click)="markAsRead()">
          mark as read
        </button>
        <button class="deleteMessages" (click)="choosePoint()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div *ngFor="let item of items" class="notifications">
        <span>
          {{ item }}
        </span>
      </div>
    </mat-menu>

    <div class="user-menu-container">
      <app-avatar [matMenuTriggerFor]="menu"></app-avatar>
    </div>

    <mat-menu #menu="matMenu" class="user-menu">
      <button mat-menu-item class="listMenu" (click)="choosePoint()">
        <mat-icon class="listIcon">account_circle</mat-icon>
        <span class="userButton">Profile</span>
      </button>
      <button mat-menu-item class="listMenu" (click)="addBook()">
        <mat-icon class="listIcon">book</mat-icon>
        <span>Add book</span>
      </button>
      <button mat-menu-item class="listMenu" [routerLink]="['/books-list']">
        <mat-icon class="listIcon">menu_book</mat-icon>
        <span>Books</span>
      </button>
      <button mat-menu-item class="listMenu" (click)="choosePoint()">
        <mat-icon class="listIcon">compare_arrows</mat-icon>
        <span>Requests</span>
      </button>
      <button mat-menu-item class="listMenu" (click)="choosePoint()">
        <mat-icon class="listIcon">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
