<div class="details-main">
    <div class="details-title">Details</div>
    <div>
        <img src="{{ details.img }}" alt="" class="details-img" />
    </div>
    <div class="details-name">{{details.name}}</div>
    <div class="details-name">{{details.author}}</div>
    <div class="details-name">{{details.genre}}</div>
    <div class="details-description">{{details.description}}</div>
    <div class="details-raiting">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_border</mat-icon>

    </div>

    
    <button class="bookButton" (click)="bookBook()">Book these book</button>

</div>
