.mat-menu-panel.user-menu {
  margin-top: 10px;
  background-color: grey;
  width: 200px;
  .listMenu {
    display: flex;
    align-items: center;
    color: whitesmoke;
    border-radius: 9px;
  }
}
.mat-menu-panel.note-menu {
  margin-top: 10px;
  background-color: grey;
  color: whitesmoke;
  display: flex;
  align-items: center;
  width: 250px;
  max-width: initial;
  .mat-menu-content {
    width: 100%;
    padding: 8px 16px;
    .noteMenuControl {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .deleteMessages {
      display: flex;
      justify-content: center;
      background-color: grey;
      color: lightgreen;
      width: 50px;
      cursor: pointer;
      border-color: transparent;
      border-radius: 5px;
    }
    .deleteMessages:hover {
      box-shadow: 0 0 12px lightgreen;
      color: var(--body-color);
  } 
    .markAsReadButton{
      display: flex;
      justify-content: center;
      width:150px;
      background-color: grey;
      color: lightgreen;
      cursor: pointer;
      border-color: transparent;
      font-weight: bold;
      font-size: 18;
    }
    .markAsReadButton:hover {
      box-shadow: 0 0 12px lightgreen;
      color: var(--body-color);
  } 
    .notifications{
      padding: 10px;
    }
  }
}
