.mat-menu-panel.user-menu {
    margin-top: 10px;
    background-color: grey;
    color: blue;
    width: 200px;
    .listMenu{
          display: flex;
          align-items:center;
          color: whitesmoke;
          border-radius: 9px;
        }
  }
  .mat-menu-panel.note-menu {
      margin-top: 10px;
      background-color: grey;
      color: whitesmoke;
      display: flex;
      align-items: center;
      width: 200px;
      .noteMenuControl{
            display: flex;
            justify-content: center;
            align-content: space-between;
            align-items: center;
            color: whitesmoke;
          }
          .deleteMessages{
            display: flex;
            align-items:center;
            color: whitesmoke;
            width: 30px;
          }   
    }