.footer {
    height: 70px;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
    align-self: flex-end;
    color: whitesmoke
}